/* SOMMAIRE 

- Fonts
- Custom properties (colors)
- RESET (clean canva)
- UTILITY CLASSES (classes réutilisables)
- LAYOUT
    - HEADER
    - FOOTER 
- ACCUEIL
- SEEPRODUCT
- ABOUT
- QUIZZ
- SEARCH
- INSTAFEED

*/

/* ------------------------------------------------

                    Fonts

--------------------------------------------------- */

@font-face {
    font-family: Titreprincipal;
    src: url(fonts/EloquentJFCaptionPro.ttf);
}

@font-face {
    font-family: AccentFont;
    src: url(fonts/Cooper\ Black.ttf);
}

@font-face {
    font-family: SousTitreouAccent;
    src: url(fonts/Butler_Medium.otf);
}

@font-face {
    font-family: LoremIpsum;
    src: url(fonts/Butler_Regular.otf);
}

@font-face {
    font-family: LoremIpsumV2;
    src: url(fonts/apercu_regular_pro.otf);
}




/* ------------------------------------------------

                    Custom properties

--------------------------------------------------- */

:root {
    --clr-black: 0, 0, 0;
    --clr-white: 255, 255, 255;
    --clr-lightpink: 250, 225, 221;
    --clr-pink: 254, 197, 187;
    --clr-mint: 216, 226, 220;
    --clr-lightgrey: 232, 232, 228;

    /* à utiliser comme ceci : <div class="bg-light">
    .bg-light{
        background-color/ou color : rgb(var(--clr-white));
    }
    comme ceci je serai en mesure de pouvoir gérer les alpha valeurs (opacité) au lieu d'avec le #0000 */

}


/* ------------------------------------------------

                    RESET

--------------------------------------------------- */


/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
figure,
picture {
    margin: 0;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Keeps the footer at the very bottom */

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

/* Make images easier to work with (si dieu le veut) */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Make forms elements easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}

/* Remove animations for those who turned them off (pour ceux qui décident d'enlever les animations dans lur browser : question d'accessiblilité) */

@media (prefers-reduced-motions: reduce){
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------------------------------------

                UTILITY CLASSES

--------------------------------------------------- */
/* Utility classes : 
-do one thing, and they do that very well
-often only have one declaration, but they can have multiple when required 
-allow things to be much more modular and allow us to write much less code in the long run
*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* souvent quand on veut centrer un conteneur avec qqchose à l'intérieur comme des images etc..., c'est responsive*/
.container {
    padding: 0 2em;
    max-width: 80rem;
    margin-inline: auto;
}

/* (screen reader only -> pour les personnes malvoyantes qui ont des screen reader donc des assistive technologies qui leur lit les pages web) */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* exemple comment utiliser (à essayer avec des div couleur pour que vous compreniez comment ça va marcher) 

-> <div class="container flex" style="--gap : 5rem;"> 
== ceci donne plus de personnalisation à notre class communes/utilities, en injectant style directement dans notre div surtout pour changer les var des gap
SINON rajouter avant container une autre class/un autre mot donc et après le déclarer dans la page css en rajoutant : --gap : 5em; et toutes les autres propriétés qu'il nous faut

    <div class="box">a</div>
    <div class="box">b</div>
    <div class="box">c</div>
    <div class="box">d</div>

</div>*/


/* ------------------------------------------------

                LAYOUT

--------------------------------------------------- */

/* 
                HEADER
*/

/* mobile first */

@media (max-width: 820px) {

    .container_promo p {
        font-family: LoremIpsum;
        text-align: center;        
        background-color: rgb(var(--clr-black));
        color: rgb(var(--clr-white));
        margin: 0;
    }

    .top-header{
        display: flex;
        flex-direction: row;
        background-color: rgb(var(--clr-lightpink));
    }

    .top-before-animation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .top-header nav{
        background-color: rgb(var(--clr-pink));
        width: 80%;
        height: 100%;
        position: fixed;
        right: 0;
        z-index: 1;
        padding: 0 5%;

        transition: transform .6s ease-in-out;
        -webkit-transition: transform .6s ease-in-out;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    .top-header nav.openNav{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    .top-header nav ul{
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
    }

    .top-header nav li{
        margin: 20px 0;

    }

    .btn-navigation {
        z-index: 2;
    }

    .top-header form{
        background-color: rgb(var(--clr-white));
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        z-index: 3;
        padding: 0 5%;

        transition: transform .6s ease-in-out;
        -webkit-transition: transform .6s ease-in-out;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }

    .top-header form.open{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    .intern-form{
        position: absolute;
        top: 10%;
        margin-left: 25%;
    }

    .intern-form input{
        border: none;
        border-bottom: black solid;
        width: 70%;
        padding-left: 20%;
    }

    .btn-search {
        z-index: 4;
    }

    #searchbutton {
        border: none;
        background-color: transparent;
        z-index: 2;
    }
}

    .categories ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .categories a{
        color: rgb(var(--clr-black));
        font-family: SousTitreouAccent;
    }


/* desktop */


@media (min-width: 821px){

    .container_promo {
        font-family: LoremIpsum;
        text-align: center; 
        background-color: rgb(var(--clr-black));
        color: rgb(var(--clr-white));
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .container_promo p {
    font-size: 1em; 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
    }

    @-webkit-keyframes my-animation {
        from { -webkit-transform: translateX(100%); }
        to { -webkit-transform: translateX(-100%); }
    }
    
    @keyframes my-animation {
        from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        }
        to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        }
    }

    .top-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
        background-color: rgb(var(--clr-lightpink));
        padding-top: 5%;
    }

    .top-header nav ul{
        display: flex;
        flex-direction: row;
    }

    .top-header form input {
        border: none;
        border-bottom: black solid;
        background-color: transparent;
    }

    .btn-navigation
    {
        display: none;
    }

    .btn-search
    {
        display: none;
    }

    #searchbutton {
        border: none;
        background-color: transparent;
    }

    #everglow {
        width: 190px;
        margin-left: -35px;
    }

}


/* 
                FOOTER
*/


footer {
    background-color: rgb(var(--clr-black));
    color: rgb(var(--clr-white));
    padding: 5%;
    /* height: 20vh; */
}

.bordure-horizontale {
    border-bottom: 1px solid white;
}

#subscribe{
    border: none;
    background-color: transparent;
}

.filter-white {
    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(264deg) brightness(105%) contrast(100%);
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-up input {
    background-color: #000;
    border: none;
    border-bottom: 1px solid white;
    width: 70%;
}

#footer-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* ------------------------------------------------

                    ACCUEIL

--------------------------------------------------- */

.error-msg {
    margin-right: 1vh;
    padding: 4px 2vh;
    text-align: center;
    font-weight: 500;
    font-family: "LoremIpsumV2";
}

.error-msg {
    color: #D8000C;
}

.success {
    background-color: #DFF2BF;
    margin-right: 1vh;
    padding: 4px 1vh;
    width: auto;
    text-align: center;
    font-weight: 500;
    font-family: "LoremIpsumV2";
    color: #4F8A10;
}

.success-msg {
    margin-right: 1vh;
    padding: 4px 1vh;
    width: auto;
    text-align: center;
    font-weight: 500;
    font-family: "LoremIpsumV2";
}

.success-msg {
    color: #4F8A10;;
}

.pop-up {
    background-color: rgb(var(--clr-white));
    width: 90%;
    border: 2px solid rgb(var(--clr-lightgrey));
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15vh;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
}

.pop-up a button:hover {
    background-color: rgb(80, 80, 80);
}

.mobilepopup {
    justify-content: flex-end;
    background-color: rgb(216, 216, 216);
}

.pop-up button {
    background-color:transparent;
    border: none;
}

.mobilepopup button {
    background-color: none;
}

.mobilepopup a button {
    margin: auto;
    font-size: 1.7vh;
    background-color: rgb(var(--clr-black));
    color: white;
    padding: 1vh 1vh;
    text-transform: uppercase;
}

.desktopAccueil {
    display: none;
}

.pop-up article:nth-child(1){
    justify-content: center;
}

.pop-up article h3 {
    margin-top: 1vh;
    font-family: "SousTitreouAccent";
}

.pop-up h2 {
    font-family: "SousTitreouAccent";
    text-align: center;
    margin-bottom:3vh;
}

.pop-up p {
    font-family: "LoremIpsumV2";
    font-weight: 600;
    /* text-align: justify; */
}

.pop-up p i {
    font-family: "LoremIpsumV2";
    font-weight: 900;
    text-decoration: underline;
}

.pop-up .flex img, .pop-up .txt-center img {
    height: 200px;
}

.pop-up .txt-center img {
    margin: 0 auto;
}
/* mobile */

@media (max-width: 390px) {

    .img-accueil {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
    }

    #accueil-img {
        display: flex;
        flex-direction: row;
        padding: 3% 0;
    }

    #accueil-text h1 {
        text-align: center;
        font-size: 2rem;
    }

    #accueil-text p {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #accueil-text button {
        margin-left: 30%;
    }

    .bestsellers-img {
        width: 100px;
        height: 80%;
    }

    .bestsellers-img img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        /* position: absolute;
        top: 0; */
    }

    .banderole img{
        display: none;
    }
}

/* ipad  */

@media (min-width: 820px) {

    .img-accueil {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    #accueil-img {
        display: flex;
        flex-direction: row;
        padding: 3% 0;
    }

    #accueil-text h1 {
        font-size: 5em;
    }

    #accueil-text {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1224px){

    #accueil-text h1 {
        font-size: 5em;
        text-align: left;
    }

    .img-accueil {
        width: 450px;
        margin-left: 10px;
    }

    .images-accueil {
        display: flex;
        flex-direction: row;
        padding: 3% 0;
    }

    #accueil-text {
        position: absolute;
        right: 10%;
        top: 50%;
        width: 20vw;
    }
    
    #accueil-text button {
        margin-left: 20%;
    }
    
    .bestsellers-img {
    width: 230px;
    height: 80%;
    }

    .bestsellers-img img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        /* position: absolute;
        top: 0; */
    }
}

#accueil-text h1 {
    font-family: Titreprincipal;
}

#accueil-text p {
    font-family: LoremIpsum;
    font-size: 1.2em;
    margin-left: 9%;
}

#accueil-text button {
    font-size: 1.1em;
    background-color: rgb(var(--clr-black));
    color: rgb(var(--clr-white));
    border-radius: 2%;
    border: 1px solid black;
    padding: 2%;
}

.accueil-bestsellers {
    padding: 10% 0;
}

.accueil-bestsellers h2 {
    padding-top: 3%;
    font-family: SousTitreouAccent;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.bestsellers-products {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 3%;
    border: 1px solid rgb(var(--clr-lightgrey));
}


.intern-case {
    padding: 2%;
}

/* .bestsellers-products img {
    width: 230px;
} */

.bestsellers-products h3 {
    text-align: center;
    margin-top: 15%;
    font-family: LoremIpsum;
}

.bestsellers-products a {
    color: #000;
}

.bestsellers-products button {
    background-color: #000;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5%;
    font-family: LoremIpsum;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}

.banderole {
    background-color: rgb(var(--clr-black));
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.accroche-banderole {
    font-size: 2.5rem;
    font-family: LoremIpsum;
    text-align: center;
    width: 90%;
    padding: 5%;
    margin-left: 5%;
    margin-top: 30%;
}

.p-banderole {
    font-size: 1.5rem;
    font-family: LoremIpsum;
    margin-left: 15%;
}

.titre-instagram {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding-top: 3%;
    font-family: SousTitreouAccent;
}

.titre-instagram img {
    margin-left: 10px;
    margin-top: 8px;
    height: 20px;
}




/* ------------------------------------------------

                    SEEPRODUCT

--------------------------------------------------- */

.seeproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.slider {
    width: 30vw;
    height: 60vh;
    position: sticky;
    position: -webkit-sticky;
    top: 5%;
    margin: 5%;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

#previous, 
#next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 4;
}

#previous {
    height: auto;
    width: 30px;
    left: 1rem;
    opacity: 1;
}

#next {
    height: auto;
    width: 30px;
    right: 1rem;
    opacity: 1;
} 

.text-product {
    display: flex;
    flex-direction: column;
}

.text-product h1 {
    margin-top: 5%;
    text-transform: uppercase;
    font-family: SousTitreouAccent;
    font-size: 1.5rem;
    margin-right: 5%;
}

.titre_product {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titre_product button {
    padding-top: 3%;
}

.fav {
	font-size: 3vh;
	background-color: transparent;
	border: none;
}

.text-product p {
    text-align: justify;
    font-family: LoremIpsumV2;
}

.product_color {
    display: flex;
    margin: 5% 0;
}

.color {
	border-radius: 100%;
	height: 20px;
	margin: 0 10px;
	width:20px;
	display:block;
	text-align: center;
}

.color input:checked {
	border: 1px solid black;
	opacity: 1;
}

.color input {
	margin-top: 5%;
	opacity: 0.01;
}

.add_quantity {
    margin-left: 5%;
}

.addBag {
    margin-left: 5%;
    width: 25%;
    font-size: 1.1em;
    background-color: rgb(var(--clr-black));
    color: rgb(var(--clr-white));
    border-radius: 2%;
    border: 1px solid black;
}

.rating {
	  width: 90px;
	  /* unicode-bidi: bidi-override; */
	  direction: rtl;
	  text-align: center;
	  position: relative;
}
  
.rating > label {
	  float: right;
	  display: inline;
	  padding: 0;
	  margin: 0;
	  position: relative;
	  width: 1.1em;
	  cursor: pointer;
	  color: #000;
}
  
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
	  color: transparent;
}
  
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
	  content: "\2605";
	  position: absolute;
	  left: 1px;
	  color: #161616;
}

i {
	font-style: normal;
    font-family: FontAwesome;
}


.sectionComments
{
    margin: 10% 0;
    background-color: rgb(var(--clr-lightgrey), 0.2);
    padding: 5%;
    width: 350px;
}

.comments {
    background-color: rgb(var(--clr-white));
    width: 95%;
    border: 1px solid rgb(var(--clr-lightgrey));
    margin: auto;
    margin-bottom: 3%;
    padding: 3%;
}

.comments p {
    text-align: justify;
}

.info_commentaire {
    font-size: 0.8rem;
}

.post_comment {
    margin: 0 20%;
}

.post_comment input {
    margin-left: 18%;
    font-size: 1.1em;
    background-color: rgb(var(--clr-black));
    color: rgb(var(--clr-white));
    border-radius: 2%;
    border: 1px solid black;
}



/* ------------------------------------------------

                USER 

--------------------------------------------------- */
/* FORMULAIRE GENERIQUE*/
.form {
    text-align: center;
    margin-bottom: 3vh;
}


.form-group {
    position: relative;
    padding: 20px 0;
    width: 75%;
    max-width: 100%;
    justify-content: center;
    margin: auto;
}

.form-group input {
    font-family: LoremIpsumV2;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
    max-width: 40vh;
}

.form-group label {
    font-family: "LoremIpsumV2";
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: all 0.2s ease-in-out;
}

.form-group input:valid,
.form-group input:focus {
    outline: none;
}

.form-group input:valid + label,
.form-group input:focus + label {
    font-size: 15px;
    transform: translateY(0);
}

.submit {
    font-family: "SousTitreouAccent";
    padding: 1vh 30px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background-color:  rgb(var(--clr-pink));
    cursor: pointer;
}

.submit:hover {
    background-color: rgba(254, 197, 187, 0.877);
}

.help {
    font-family: "LoremIpsumV2";
    color: gray;
}

.sous_texte {
    font-family: "LoremIpsumV2";
}

.sous_texte a {
    color: rgb(var(--clr-black));
    font-weight: bold;
    text-decoration: underline;

}


.form h1 {
    font-family: "Titreprincipal";
    text-transform:uppercase;
}


/* FORMULAIRE CONNEXION*/

.bold {
    font-weight: bold;
}

.login {
    margin-top: 1%;
}

.forgot:hover {
    transition: .2s ease-out;
    text-decoration: underline;
}



/* ------------------------------------------------

                USER PROFIL

--------------------------------------------------- */
fieldset {
    margin-bottom: 2vh;
}

.submit-profil {
    margin-bottom: 3vh;
}

.articleProfil img {
    display: none;
}
.sous-titre {
    font-family: "SousTitreouAccent";
    margin-bottom: 3vh;
}
.userCommand {
    margin-top: 2vh;
    font-family: "LoremIpsumV2";
    text-align: center;
}

.userCommand p {
    color: grey;
}

.userCommand i {
    color: black;
    font-weight: bold;
    font-family: "LoremIpsumV2";
}

/* USER PROFIL COMMANDE */

.name {
    flex-wrap: flex;
}

.article-profil {
    grid-template-columns: repeat(5, 1fr);
    /* align-self: center;
    justify-self: center; */
}

/* USER PROFIL PRODUCTS */
.section-favoris {
    margin-top: 3vh;
}

.href {
    color: black;
    font-family: "SousTitreouAccent";
    font-weight:800;
    text-decoration: underline;
}

/* USER PROFIL COMMENT */

.section-comment {
    margin-top: 4vh;
}

.section-comment article {
    font-family: "SousTitreouAccent";
    margin:2% 8%;
    flex-wrap: wrap;
    line-height: 2vh;
}

@media (max-width: 820px) {}

.section-comment article:nth-child(even) {
    text-align: right;
}

.section-comment article:nth-child(odd) {
    text-align: left;
}

.section-comment a {
    font-size: 1.5em;
    color: #ffbcb0;
    font-weight: bold;
}

.date {
    font-family: "LoremIpsumV2";
    color: rgb(204, 204, 204);
}

.section-comment form button {
    margin-top: 2vh;
    background-color:transparent;
    border: none;
    cursor: pointer;
}
/* ------------------------------------------------

                BAGS

--------------------------------------------------- */
.bag h1 {
    font-size: 2em;
    text-align: center;
}

.bagProduct  {
    font-family: "SousTitreouAccent";
}

.bagProduct img {
    height: 150px;
    width: 120px;
}
.bagProduct .productbag{
    /* justify-content: space-between; */
    /* margin: 0; */
    height: content;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    border-bottom: solid 1px #d8d8d8;
}

.intproductbag:nth-child(1) {
    margin-top: 1vh;
    margin-bottom: 7vh;
}

.intproductbag:nth-child(2){
    align-items: center;
}

.intproductbag p {
    margin: 0;
    
}
.intproductbag p::first-letter {
    text-transform: uppercase;
}

.intproductbag p a {
    font-size: 2.7vh;
    color: rgb(27, 27, 27);
    font-weight: 700;
}

.bagProduct .flex button {
    color: rgb(212, 0, 0);

}

.bagProduct .flex button, .bagProduct .flex input {
    background-color:transparent;
    border: none;
    font-weight: 900;
    font-size: 2vh;
}

.delete1 {
    display: none;
}

.bagPrice {
    justify-content: right;
    align-items: center;
}

.bagPrice div{
    justify-content: right;
    font-size: 2vh;
    font-family: "SousTitreouAccent";
    font-weight: 600;
    line-height: .7vh;
    margin: 0;
}

.price {
    font-weight: 900;
    font-size: 3vh;
}

.bagPrice div p:nth-child(0n+2){
    font-family: "LoremIpsumV2";
    font-weight: lighter;
    color: rgb(145, 145, 145);
}

.bag .submitbag {
    position: relative;
    float: right;
    margin-bottom: 5vh;
}

.emptyBag {
    margin-bottom: 5vh;
}

.emptyBag i {
    font-size: 7vh;
}

.emptyBag p {
    font-size: 2.4vh;
    font-family: "LoremIpsumV2";
}

.emptyBag a {
    color: black;
}

.emptyBagcontainer {
    display: none;
}


/* ------------------------------------------------

                COMMANDS

--------------------------------------------------- */

/* .deliveryMode:checked {
    display: block;

} */

.command {
    font-family: "LoremIpsumV2";
    margin-bottom: 5vh;
}

.commandproduct {
    justify-content: space-between;
    height: content;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    border-bottom: solid 1px #d8d8d8;
}

.intcommandPorduct {
    margin-left: 2vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.intcommandPorduct p {
    margin: 0;
}

.intcommandPorduct a {
    font-size: 1.6vh;
    color: rgb(27, 27, 27);
    text-transform: uppercase;
    font-weight: 700;
}

.produit {
    font-family: "SousTitreouAccent";
    align-items: center;
    justify-content:space-evenly;
}

.command h2 {
    margin-top: 3vh;
}

.command i {
    font-size: 2.2vh;
}

.delivery-mode {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.delivery-mode div {
    margin-bottom: 5vh;
    margin-top: 5vh;
    font-size: 2.4vh;
    padding: 3vh 5vh;
    border: 1px solid #d8d8d8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.delivery-mode div p i{
    font-family: "SousTitreouAccent";
    font-weight: 600;
}

.delivery-form {
    margin-bottom: 5vh;
    margin-top: 5vh;
}


#prix {
    text-align: center;
    font-weight: 900;
    margin-bottom: 2vh;
}

/* ------------------------------------------------

                PAIEMENTS

--------------------------------------------------- */
#card-elements{
    width: 40vh;
    margin: auto;
    padding: 1.4vh;
    background: #efefef;
    margin-bottom: 4vh;
}

.paiement {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.paiement img {
    height: 50vh;
}

.paiement form {
    border: 1px solid #d8d8d8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 60vh;
    text-align: center;
}

.paiement .sous-titre {

    margin: 5vh 0 0 0;
}

.row span {
    position: relative;
    display: inline-block;
    margin: 30px 10px;
}

.basic-slide {
    display: inline-block;
    width: 30vh;
    padding: 1vh 30px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: black;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px;
    transition: all 0.3s ease-in-out;
  }
  .basic-slide::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }
  .basic-slide + label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1vh 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: rgb(var(--clr-pink));
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .basic-slide:focus, .basic-slide:active {
    color: black;
    text-indent: 0;
    background-color: #f8f8f8d8;
    padding: 1vh 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .basic-slide:focus::-webkit-input-placeholder, .basic-slide:active::-webkit-input-placeholder {
    color: #aaa;
    background-color: #f8f8f8d8;
    padding: 1vh 30px;
  }
  .basic-slide:focus + label, .basic-slide:active + label {
    transform: translateX(-80%);
  }
  

/* ------------------------------------------------

               SUCCESS COMMAND

--------------------------------------------------- */

.successCommand {
    width: 80%;
    margin: auto;
}

.successCommand p {
    padding: 4vh;
}

.successCommand p a {
    font-weight: bold;
    color: rgb(11, 97, 19);
}

.successCommand p a:hover {
    text-decoration: underline;
}

.commandImageSuccess {
     display: none;
}

.commandImage {
    left: 0;
    display: flex;
    justify-content: center;
    margin: 10vh;
}

.commandImage .content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.commandImage .content h3 {
    padding: 0 3vh;
    margin-top: 6vh;
    font-family: "SousTitreouAccent";
}

.commandImage .content button {
    margin: auto;
    font-size: 2.3vh;
    background-color: rgb(var(--clr-black));
    color: white;
    padding: 1vh 1vh;
    text-transform: uppercase;
}

.commandImage .content button:hover {
    background-color: rgb(80, 80, 80);
}

.commandImage .content p {
    font-size: 2.4vh;
    font-family: "LoremIpsumV2";
}

.commandImage .content a {
    color: black;
}

.commandImage img {
    height: 30vh;
}

/* ------------------------------------------------

                PRODUCT SELF

--------------------------------------------------- */
.product_color {
	display: flex;
}
.color {
	border-radius: 100%;
	height: 30px;
	margin: 0 auto;
	width:30px;
	display:block;
	text-align: center;
}
i {
	font-style: normal;
    font-family: FontAwesome;
}


.sectionComments
{
    margin: 10% 0;
    background-color: rgb(var(--clr-lightgrey), 0.2);
    padding: 3%;
}

.comments {
    background-color: rgb(var(--clr-white));
    width: 95%;
    border: 1px solid rgb(var(--clr-lightgrey));
    margin: auto;
    margin-bottom: 3%;
    padding: 3%;
}

.comments p {
    text-align: justify;
}

.info_commentaire {
    font-size: 0.8rem;
}

.post_comment {
    margin: 0 20%;
}

.post_comment input {
    margin-left: 25%;
    font-size: 1.1em;
    background-color: rgb(var(--clr-black));
    color: rgb(var(--clr-white));
    border-radius: 2%;
    border: 1px solid black;
}




/* ------------------------------------------------

                    ABOUT

--------------------------------------------------- */


@media (max-width: 820px) {
    .about img {
        display: none;
    }

    .container_about h2 {
        font-size: 40px;
    }

}

@media (min-width: 821px) {
    .about img {
        width: 400px;
    }
    
    .container_about {
        padding-left: 15%;
    }

    .container_about h2 {
        font-size: 2rem;
        text-align: center;
    }   

}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container_about h2 {
    font-family: SousTitreouAccent;
}





@media (min-width: 821px) {

    .pop-up {
        width: 60%;
        padding: 5vh;
    }

    .pop-up a button{
        margin: right;
        color: white;
        background-color: black;
    }

    .pop-up .flex {
        display: none;
    }

    .pop-up h1 {
        font-family: "Titreprincipal";
        font-size: 5vh;
    } 

    .desktopAccueil {
        display: block;
    }

    .pop-up article {
        justify-content: space-between;
    }

    .desktopAccueil {
        display: block;
        background-color: rgb(216, 216, 216);
        padding: 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .desktopAccueil img {
        right : 0;
    }

    .desktopAccueil div {
        margin: 0 auto;
        text-align: center;

    }
/* ------------------------------------------------

                FORMULAIRES

--------------------------------------------------- */
    h1 {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-family: "Titreprincipal";
    }

    .form {
        text-align: center;
        margin-bottom: 5vh;
    }

    .form-group input{
        padding: 10px 1vh;
        text-align: left;
        display:initial;
        font-size: 15px;
    }

    .form-group label {
        left: 35%;
    }

    .form-group label { 
        font-size: 17px;
    }

    .form-group input:valid + label,
    .form-group input:focus + label {
    color: rgb(var(--clr-pink));
    font-size: 15px;
    transform: translateY(0);
    }

    .logreg .submit {
        margin-top: 2vh;
    }

    .reg .help {
        margin-top: 3vh;
    }

    .submit {
        text-align: center;
        padding: 1vh 6vh;
        font-weight: 700;
    }

    .sous_texte {
        font-size:2.5vh;
    }



/* ------------------------------------------------

                USER PROFIL

--------------------------------------------------- */
    .titre-profil {
        margin-bottom: 10vh;
    }
    .articleProfil {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10vh;
    }

    .articleProfil .form {
        max-width: 50vh;
        width: 100%;
    }

    .articleProfil img {
        height: 420px;
        display: block;
    }

    .articleProfil .form label {
        left: 0;
    }

    .articleProfil .form h3 {
        font-family: "SousTitreouAccent";
    }
    .userCommand .inCommandUser 
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .userCommand p {
        color: grey;
    }

    .userCommand h3 {
        text-transform: uppercase;
        text-decoration: underline;
    }


    .userCommand i {
        color: black;
        font-family: 'loremIpsumV2';
    }

    .section-favoris {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .section-comment {
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .section-comment article:nth-child(even) {
        padding-top: 2vh;
        padding-bottom: 2vh;
        text-align: center;
        border: 1px solid #d8d8d8;
    }

    .section-comment article:nth-child(odd) {
        padding-top: 2vh;
        padding-bottom: 2vh;
        text-align: center;
        border: 1px solid #d8d8d8;
    }

    .section-comment a:hover {
        margin-top: 1vh;
        text-decoration: underline;
    }

    .section-comment form button:hover {
        color: #575757;
        
    }

    .section-comment hr {
        display: none;
    }


    /* ------------------------------------------------

                BAG

--------------------------------------------------- */

    .productbag {
        justify-content: center;
    }

    .inbag{
        display: flex;
        align-items: center;
        gap: 30vh;
    }

    .intproductbag {
        font-size: 2.5vh;
        gap: 10vh;
    }

    .intproductbag a {
        font-size: 2.1vh;
    }

    .intproductbag a:hover {
        text-decoration: underline;
    }

    .bagProduct .flex button, .bagProduct .flex input {
        font-size: 2.6vh; 
        cursor: pointer;
    }

    .delete1 {
        display: block;
    }

    .delete2 {
        display : none;
    }

    .intproductbag:nth-child(1) {
        margin: 0;
    }

    .bagPrice div {
        font-size: 2.7vh;
    }

    .price {
        font-size: 3.6vh;
    }

    .bagProduct img {
        height:170px;
        width: 140px;
    }

    .emptyBagcontainer {
        display: flex;
        justify-content: center;
    }
    
    .emptyBagcontainer div {
        padding: 0 7vh;
        text-align: center;
        background-color: rgb(245, 245, 245);
    }
    
    .emptyBagcontainer div h3 {
        margin-top: 6vh;
        font-size: 3vh;
        font-family: "SousTitreouAccent";
    }
    
    .emptyBagcontainer div p:nth-child(2){
        font-family: "LoremIpsumV2";
        font-weight: 600;
        color: #1a1a1a;
    }
    
    .emptyBagcontainer div button {
        background-color: rgb(var(--clr-black));
        color: white;
        padding: 1vh 4vh;
        text-transform: uppercase;
    }
    
    .emptyBagcontainer div button:hover {
        background-color: rgb(117, 117, 117);
    }

    .emptyBag {
        margin-top: 5vh;
    }
    

    .emptyBag p {
        font-size: 3vh;
    }

    .emptyBag button {
        width: 45vh;
        font-weight: 700;
    }




/* ------------------------------------------------

                COMMANDS

--------------------------------------------------- */
    .incommand {
        left: 0;
    }

    .commandproduct {
        display: flex;
      
        justify-content: center;
    }

    .incommand {
        align-items: center;
        display: flex;
        /* justify-content: space-between; */
        font-size: 2.5vh;
        
    }

    .incommand a {
        font-family: SousTitreouAccent;
        text-transform: lowercase;
        font-size: 2.7vh;
        font-weight: 600;
    }

    .incommand div p::first-letter {
        text-transform: uppercase;
    }

    .incommand a:hover {
        text-decoration: underline;
    }

    .incommand .flex {
        gap: 15vh;
        justify-content: space-between;
    }

    .intcommandPorduct {
        margin: 0 15vh;
    }

    .produit div p {
        margin: 0;
    }

    .command form h2 {
        font-size: 4vh;
        margin-bottom: 0;
        font-family: "SousTitreouAccent";
    }

    .command .form h3:nth-child(2){
        font-family:  "SousTitreouAccent";
        font-size: 4vh;
    }

    .delivery-mode {
        margin-top: 0;
        margin-bottom: 3vh;
        display: flex;
        justify-content: space-evenly;
    }

    .delivery-mode div {
        font-size: 2.4vh;
        padding: 3vh 15vh;
        border: 1px solid #d8d8d8;
        background-color: rgb(var(--clr-mint), 0.25);

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

@media (min-width: 1000px){
    .successCommand {
        width: 50%;
    }

    .commandImageSuccess {
        display: block;
    }
}
.who {
    margin-top: 5%;
}

.who p {
    font-family: LoremIpsumV2;
    text-align: justify;
    width: 70%;
}

.brand p {
    font-family: LoremIpsumV2;
    text-align: justify;
    width: 70%;
}





/* ------------------------------------------------

                QUIZZ

--------------------------------------------------- */

.quizz {
    font-family: LoremIpsumV2;
}

#submit {
    font-size: 1.1em;
    background-color: rgb(var(--clr-black));
    color: rgb(var(--clr-white));
    border-radius: 2%;
    border: 1px solid black;
    margin-bottom: 5%;
    margin-top: 5%;
}

.suggestedProducts {
    margin: auto;
}




/* ------------------------------------------------

                SEARCH

--------------------------------------------------- */

.found-products {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 3%;
    border: 1px solid rgb(var(--clr-lightgrey));
    padding: 3%;
    width: 40%;
}

.found-products img {
    margin: auto;
    width: 80%;
}

.found-products h2 {
    font-size: 15px;
}

@media (min-width: 821px) {
    .found-products h2 {
        font-size: 30px;
    }

    .found-products {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 3%;
        border: 1px solid rgb(var(--clr-lightgrey));
        padding: 3%;
        width: 25%;
        margin-bottom: 3%;
    }
}

/* .searchbarimg {
    display: flex;
    flex-direction: row;
} */



/* ------------------------------------------------

                INSTAFEED

--------------------------------------------------- */

.insta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 100px;
}

.instafeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

.instafeed img,
.instafeed video {
  object-fit: contain;
  height: 220px;
  width: 100%;
  padding: 10px;
}



.txt-center {
	text-align: center;
}
.hide {
	display: none;
}
  
.clear {
	float: none;
	clear: both;
}
  


